# User configs
.clasp.json

# Build artefacts
apps-script
node_modules
.parcel-cache
parcel-bundle-reports
!apps-script/appsscript.json
yarn.lock

# IDE setting
.idea
.vscode

# Test data
*prices.csv
*scores.json
*.log
